.button-clear-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  height: 75px;
  width: 100%;
  border-bottom: 0.75px solid gray;
  cursor: pointer;
}

.button-clear-text {
  color: rgb(72, 124, 227);
  font-weight: bolder;
  margin-left: -50px;
  flex-basis: 35%;
  text-align: center;
}