.area-translate-page-container {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.history-container {
  width: 80px;
  height: 10%;
  margin-top: 40px;
}

.history-text {
  color: gray;
  margin-bottom: -30px;
}

.history-icon {
  color: gray;
  padding: 7px;
  border-radius: 20px;
  background-color: white;
  border: 0.15px gray solid;
  transform: scale(1.75);
}

.link-history-icon {
  color: inherit;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 16px;
}