#icon-search-screen-chat {
    text-align: center;
    flex-basis: 20%;
}

#icon-search-screen-list-chats {
    text-align: center;
    flex-basis: 20%;
    margin-bottom: -10px;
}

#icon-more-vert-screen-chat {
    text-align: center;
    flex-basis: 15%;
}

#icon-dehaze-screen-list-chats {
    text-align: right;
    flex-basis: 10%;
    margin-bottom: -10px;
}

#icon-done {
    font-size: 13px;
    color: rgba(131, 51, 164);
}

#icon-attach {
    width: 35px;
    height: 25px;
}

#icon-arrow-back-screen-chat {
    flex-basis: 15%;
}

#icon-arrow-back-screen-list-chats {
    flex-basis: 15%;
    text-align: right;
}

#icon-profile {
    flex-basis: 20%;
    text-align: right;
    font-size: 50px;
}