.microphone {
  color: rgb(96, 93, 103);
  flex-basis: 10%;
}

.footer-original-language {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40%;
}


.keyboard {
  color: rgb(96, 93, 103);
}
