.background-phone {
  width: 100%;
  height: 100px;
  background-color: rgb(250, 250, 250);
  border: 1px solid gray;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.title {
  margin-left: 470px;
  margin-bottom: 55px;
  text-align: right;
  font-size: 18px;
  color: gray;
}